<div class="min-h-screen bg-base-100">

  <!-- HERO -->
  <section>
    <div class="max-w-4xl mx-auto px-6 py-15 text-center space-y-8">

      <!-- Name -->
      <h1 class="text-4xl md:text-5xl font-bold">
        Členovia
      </h1>

      <!-- Search -->
      <%= render "shared/instant_search" %>

      <div class="badge badge-primary badge-outline badge-lg">
        <%= @assembly.members.count %> členov
      </div>

    </div>
  </section>

  <%= turbo_frame_tag "members-table" do %>
  <section class="space-y-6 p-4">
    <div class="overflow-x-auto rounded-box">
      <table class="table table-zebra">
        <thead>
          <tr>
            <th>Meno</th>
            <th>V <%= @assembly.name %> pôsobil/a v rokoch</th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr class="hover:bg-base-300 cursor-pointer">
              <td class="font-medium">
                <%= link_to assembly_member_path(@assembly, member), class: "font-medium hover:underline block w-full" do %>
                  <b><%= member.name %></b>
                <% end %>
              </td>
              <td>
                <%= link_to assembly_member_path(@assembly, member), class: "block w-full" do %>
                  <%= render "members/year_timeline", years: member.member_of_assemblies.map(&:year).sort %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @members %>
  </section>
  <% end %>


</div>
