<div class="min-h-screen bg-base-100">

  <!-- HERO -->
  <section class="bg-base-200">
    <div class="max-w-4xl mx-auto px-6 py-20 text-center space-y-8">

      <!-- Name -->
      <h1 class="text-4xl md:text-5xl font-bold">
        Členovia <%= @assembly.name %>
      </h1>

      <!-- Search -->
      <%= render "shared/instant_search" %>

      <div class="badge badge-primary badge-outline badge-lg">
        <%= @assembly.members.count %> členov
      </div>

    </div>
  </section>

  <section class="space-y-6 p-4">
    <div class="overflow-x-auto rounded-box">
      <table class="table table-zebra">
        <thead>
          <tr>
            <th>Meno</th>
            <th>Aktívny v rokoch</th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr class="hover:bg-base-300">
              <td class="font-medium">
                <b><%= member.name %></b>
              </td>
              <td>
                <%= member.member_of_assemblies.pluck(:year).sort.join(", ") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </section>


</div>
