<div class="min-h-screen bg-base-100">

  <!-- HERO -->
  <section>
    <div class="max-w-4xl mx-auto px-6 py-15 text-center space-y-8">

      <!-- Name -->
      <h1 class="text-4xl md:text-5xl font-bold">
        Členovia
      </h1>

      <!-- Search -->
      <%= render "shared/instant_search" %>

      <div class="badge badge-primary badge-outline badge-lg">
        <%= number_with_delimiter(@assembly.members.count, delimiter: " ") %> členov
      </div>

    </div>
  </section>

  <%= turbo_frame_tag "members-table" do %>
  <section class="space-y-6 p-4">
    <%= render "members/members_table", members: @members, assembly: @assembly %>

    <%= paginate @members %>
  </section>
  <% end %>


</div>
